html{
    font-size: 15px;
}

html, body {
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    height: 100vh;
}


body {
    background-color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url(assets/Norse-Bold.otf) format('opentype');
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 200px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: none;
  border: 2px solid #E5E7EB;
}

p, h1{
    margin: 0;
}

a{
    color: #596D48;
    text-decoration: none;  
}

h1{
    font-size: 5rem;
}

.left-bg{
    background-image: url(assets/bg.avif);
    background-size: cover;
    width: 800px;
}




.left-flex{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 30% auto 0 auto;
    font-size: 40px;
    font-family: "MyCustomFont" , sans-serif;
    background-color: rgba(0, 0, 0, 0.4);;

}

.logo {
    max-width: 170px;
    height: auto;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

label{
    display: block;
    font-size: .8rem;
    letter-spacing: 2px;
}

.input-group{
    display: flex;
    justify-content: flex-start;
}

.input-container{
    padding-bottom: 10px;
    padding-right: 20px;
}



button{
    background-color: #596D48;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 30px 0;
}

.right-side{

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000d9;
    /* margin-top: 50px; */
}

.description, legend{
    font-size: 1.8rem;
    font-weight: 800;
    padding-right: 25%;

}


form{
    font-size: 1.4rem;
    
}

form + p{
    font-size: 1.2rem;
}

legend{
    padding: 90px 0 10px 0;
    padding-bottom: 30px;
}

.description p:last-child{
    padding: 20px 0 30px 0;
}

form > fieldset:nth-child(3) > div{
    border-bottom: solid 3px black;
}